# .coveragerc to control coverage.py
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise RuntimeError

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

    # Don't complain about overload methods, they aren't run:
    @(typing\.)?overload
